@page
@model BpaReserve.Pages.RideReserve.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RideReservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RideReservation.ID" />
            <div class="form-group">
                <label asp-for="RideReservation.NewUserID" class="control-label"></label>
                <select asp-for="RideReservation.NewUserID" class="form-control" asp-items="ViewBag.UserID"></select>
                <span asp-validation-for="RideReservation.NewUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RideReservation.RideID" class="control-label"></label>
                <select asp-for="RideReservation.RideID" class="form-control" asp-items="ViewBag.RideID"></select>
                <span asp-validation-for="RideReservation.RideID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RideReservation.DateAndTime" class="control-label"></label>
                <input asp-for="RideReservation.DateAndTime" class="form-control" />
                <span asp-validation-for="RideReservation.DateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
