@page
@model Bpa_Test_2.Pages.AboutModel
@{
}

        
<style>
    body {
        background-color: #f5f0e1;
    }
</style>
<div class="container">
    



  
        <div class="row" >
        <div class="col-md" >
        <h1 class="text-center font-italic" > Team </h1 >
        </div >
        </div >
        <div class="row" >
        <div class="col-md-4" >
            <div class="card text-white" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2018/10/26/06/55/anime-3773979_960_720.png" class="card-img-top" alt="..." />
                <div class="card-body style= bg-dark">
                    <h3 class="card-title"> Ken</h3>
                    <p class="card-text"> Hoaster and the about page creator. Designe master </p>

        <div class="row">
            <div class="col-md">
                <h1 class="text-center font-italic"> Team  </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="Ken" style="width: 18rem;" >
                    <div class="card-body">
                        <h3 class="card-title">Ken</h3>
                        <p class="card-text">Hoster and the about page creator. Design master </p>
                        <a href="#" class="btn btn-primary">Hi Was up!!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Bhuwan" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">Bhuwan</h3>
                        <p class="card-text">Main coder and leader of the team.</p>
                        <a href="#" class="btn btn-primary">Sup!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="Erica" style="width: 18rem;">
                    <div class="card-body">
                        <h3 class="card-title">Erica</h3>
                        <p class="card-text">Database expert. Second main coder</p>
                        <a href="#" class="btn btn-primary">Hello!!</a>
                    </div>

                </div>
            </div>
        </div >
        <div class="col-md-4" >
            <div class="card text-white" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2020/08/16/06/21/cartoon-5491978_960_720.png" class="card-img-top" alt="...">
                <div class="card-body style= bg-dark">
                    <h3 class="card-title"> Bhuwan</h3>
                    <p class="card-text"> Main coader and leader of the team.</p>

                </div>
            </div>
        </div >
        <div class="col-md-4" >
            <div class="card text-white" style="width: 18rem;">
                <img src="https://cdn.pixabay.com/photo/2018/03/18/11/55/cartoon-3236539_960_720.jpg" class="card-img-top" alt="...">
                <div class="card-body style= bg-dark">
                    <h3 class="card-title"> Erica</h3>
                    <p class="card-text"> Data base expert. Second main coader</p>

>>>>>>> c834104bf1aeaf8cfddb9043329980a4ce1044f9
                </div>
            </div>
            </div >
        </div >
    
</div>
