@page
@model BpaReserve.Pages.FirstFormModel
@{
}


<form method="post" action="SecondForm">
    <h1>Page passing tests (Method 2 - form post)</h1>
    <p>Please enter some data in the field below and click send</p>
    <input type="text" id="test" name=" test" />
</form>