@page
@model BpaReserve.Pages.Restaurants.IndexModel
@{
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="resturant-body">

    <div class="container-fluid">
        <div class="row">

            @foreach (var item in Model.Restaurant)
            {

                <div class="col-sm">
                    <div class="card" style="width: 18rem;">

                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.RestaurantImageUrl)" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.RestaurantName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                            <a asp-page="./Details" asp-route-id="@item.RestaurantID">Details</a> |
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</body>
</html>
