@page
@model BpaReserve.Pages.Rides.IndexModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="resturant-body">

    <div class="container">
        <div class="row">
            @foreach (var item in Model.Ride)
            {

                <div class="col-sm">
                    <div class="card" style="width: 18rem;">

                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.RideImageUrl)" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.RideName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.WaitTime)</p>
                            <a class="btn btn-primary" asp-area="" asp-page="/ridereservesection">Reserve</a>
                            <a asp-page="./Details" asp-route-id="@item.RideID">Details</a> |
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>

