@page
@model BpaReserve.Pages.RideCardModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body class="resturant-body">

    <div class="container">
        <div class="row">
            @foreach (var item in Model.Rides)
            {

                <div class="col-sm">
                    <div class="card" style="width: 18rem;">

                        <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.RideImageUrl)" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.RideName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.WaitTime)</p>
                            <!--Pass the RideID through the helper tag -->
                            <a asp-page="/ridereservesection" asp-route-ID="@item.RideID" class="btn btn-primary m-1">Reserve</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>

